div.userDetails
	div.row
		div.col-sm-2.col-sm-offset-1
			img.picture(src="{{user.pictureUrl}}", alt="avatar")
		div.col-sm-9
			ul.info
				li
					strong First Name: 
					span {{user.firstName}}
				li
					strong Last Name: 
					span {{user.lastName}}
				li
					strong Username: 
					span {{user.username}}
				li
					strong Date of registration: 
					span {{user.dateRegistered | date: 'MMM d yyyy' }}
	div.row.filter-control
		div.col-sm-3.col-sm-offset-1
			a(href="/#users/{{user.id}}/offers") Show all offers from {{user.username}}
		div.col-sm-3
			a(href="/#users/{{user.id}}/sales") Show all sales from {{user.username}}
