div.userDetails
	div.row
		div.col-sm-2.col-sm-offset-1
			img.picture(src="{{user.pictureUrl}}", alt="avatar")
		div.col-sm-9
			ul.info
				li
					strong First Name: 
					input(type="text" ng-enabled="ableToUpdate" ng-model="user.firstName")
				li
					strong Last Name: 
					input(type="text" ng-enabled="ableToUpdate" ng-model="user.lastName")
				li(ng-show="ableToUpdate")
					strong Password: 
					input(type="password" ng-model="user.password")
				li
					strong Username: 
					input(type="text" disabled="disabled" ng-model="user.username")
				li
					strong Date of registration: 
					input(type="text" disabled="disabled" value="{{user.dateRegistered | date: 'MMM d yyyy'}}")
			button(ng-click="updateInfo(user)" ng-show="ableToUpdate")
				| Update
	div.row.filter-control
		div.col-sm-3.col-sm-offset-1
			a(href="" ng-href="#/users/{{user._id}}/offers") Show all offers from {{user.username}}
		div.col-sm-3
			a(href="" ng-href="#/users/{{user._id}}/sales") Show all sales from {{user.username}}
