@import url("//fonts.googleapis.com/css?family=Ubuntu");
body {
	font-family: "Ubuntu";
	padding-top: 80px;
}
.jumbotron{
	padding-bottom: 80px;
	padding-top: 20px;
}
.navbar-inverse{
	background-color: #185899;
	color: #ddd;
}

.navbar-inverse .navbar-brand{
	color: #ddd;
}
.navbar-inverse .navbar-nav > li > a {
	color: #ddd;
}
.navbar-right .navbar-form input {
	margin-right: 10px;
}
.navbar-right .navbar-form a.btn {
	margin-left: 10px;
}
.toast-top-right {
	top: 70px;
}
.picture
{
	box-shadow: 2px 2px 10px #000;
	width: 150px;
	height: 150px;
}
.panel-info{
	margin-top: 40px;
}
.filter-control
{
	margin-top: 40px;
	margin-bottom: 20px;
}
footer {
	margin-top: 20px;
	padding-left: 120px;
	padding-right: 120px;
}
footer p {
	border-top: 1px solid #808080;
	padding-top: 10px;
}
ul.info{
	list-style-type: none;
}