extends partials/layout
block main-content
    header.nav.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="#/") Купи.ме
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="#/") Home
                    li
                        a(href="#/offers") Offers
                    li
                        a(href="#/users") Users
                div(ng-include="'partials/main/login'")
    form.container.form-search(ng-controller="categoriesController")
        .form-group.filter-control
            .col-md-2.col-md-offset-1
                label.col-md-2.control-label(for="categories")
                | Category:
            input(type="text")
            .col-md-3
                select.form-control(categories, id="categories",required="required",ng-model="query.category" )
            .col-md-1
                button.btn.btn-primary(type="submit") Search
    section
        div(ng-view)
    footer
        p.text-center
            | &copy; Team Eris


            // .jumbotron
            //     .col-md-4
            //         img(src= "../../img/kupime_logo.png")
            //     .col-md-4
            //         h2 All offers in one place
            //     .col-md-3
            //         .col-sm-9
            //             input.form-control.input-medium.search-query(type="text")
            //         .col-sm-3
            //             button.btn.btn-primary(type="submit") Search