extends partials/layout
block main-content
    header.nav.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="#/") Купи.ме
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="#/") Home
                    li
                        a(href="#/offers") Offers
                    li
                        a(href="#/users") Users
                div(ng-include="'partials/main/login'")
    .jumbotron
        .col-md-5
            img(src= "../../img/kupime_logo.png")
        .col-md-7
            h2 All offers in one place
    form.form-search.text-center(ng-controller="categoriesController")
        .form-group
            input.input-medium.search-query(type="text")
            label.col-md-2.control-label(for="categories")
            | Category:
            span
                select.form-control(categories, id="categories",required="required",ng-model="query.category" )
    button.btn.btn-primary(type="submit")

    section
        div(ng-view)
    footer
        p.text-center
            | &copy; Team Eris