div.row
    div.col-sm-10.col-sm-offset-1
        h1.text-center Users
        div(ng-if="identity.isAuthenticated()")
            div.row.filter-control
                div.col-sm-2
                    label.control-label Quick search
                div.col-sm-3
                    input.form-control(type="text", ng-model="search")
                div.col-sm-1
                    label.control-label Sort
                div.col-sm-3
                    select.form-control(ng-model="request.orderBy")
                            option (value="" selected="selected") None
                            option (value="firstName") First Name
                            option (value="lastName") Last Name
                            option (value="username") Username
                            option (value="dateRegistered") Date of registration   
        table.table.table-bordered.ng-table.table-container
            thead
                tr
                    th First Name
                    th Last Name
                    th Username
                    th Date of registration
                    th Picture
            tbody
                tr( ng-repeat="user in users | filter:search")
                    td {{user.firstName}}
                    td {{user.lastName}}
                    td 
                        a (href="#/users/{{user.id}}")
                            | {{user.username}}
                   
                    td {{user.dateRegistered | date: 'MMM d yyyy' }}
                    td {{user.picture}}