.container
    .row
        .col-md-10.col-md-offset-1
            .panel.panel-info
                .panel-heading.text-center Latest Offers
                .panel-body
                    include offers/new-offers
