.container
    .jumbotron
        .col-md-5
            img(src= "../../img/kupime_logo.png")
        .col-md-7
            h2 All offers in one place
    .row
        .col-md-10.col-md-offset-1
            .panel.panel-info
                .panel-heading.text-center Latest Offers
                .panel-body
                    include offers/new-offers