table.table.table-bordered.ng-table.table-container
	thead
		tr
			th Title
			th Category
			th Description
			th Creation Date
			th Price
	tbody
		tr( ng-repeat="offer in offers")
			td 
				a(hrer="" ng-href="#/offers/{{offer._id}}")
					| {{offer.title}}
			td {{categories[offer.category]}}
			td {{offer.description}}
			td {{offer.creationDate  | date: 'MMM d yyyy' }}
			td {{offer.price}}